.counter button{
    border: 1px solid white;
    background: #f9f9f9;
}
.count{
    padding: 0px 20px;
    margin: 0;
}
.counter-example-lesson{
    margin: 100px 0px;
}
.lesson-inner{
    display: flex;
}